@{
    ViewData["Title"] = "Commands Page";
}

@section css{
    <style type="text/css">
    .button-style{
      background-color:#ED5E31 !important;
      border-color:#ED5E31 !important;
    }

    .dbutton-style{
      background-color:white !important;
      border-color:#ED5E31 !important;
      color:#ED5E31 !important;
    }
    </style>
}

<div class="container">
    <div class="row p-5">
        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kayıtlı İlaçlar</font></font></h4>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0 table-centered">
                                            <thead>
                                            <tr>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İlaç Adı</font></font></th>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarih</font></font></th>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dozu</font></font></th>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sipariş durumu</font></font></th>
                                                <th class="text-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aksiyon</font></font></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#124781</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">25/11/2018</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">321 dolar</font></font></td>
                                                <td><span class="badge badge-soft-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Onaylı</font></font></span></td>
                                                <td class="text-right">
                                                    <button type="submit" class="btn btn-primary button-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ekle</font></font></button>
                                                    <button type="submit" class="btn btn-primary dbutton-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sil</font></font></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#542136</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">19/11/2018</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">227 dolar</font></font></td>
                                                <td><span class="badge badge-soft-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Onaylı</font></font></span></td>
                                                <td class="text-right">
                                                    <button type="submit" class="btn btn-primary button-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ekle</font></font></button>
                                                    <button type="submit" class="btn btn-primary dbutton-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sil</font></font></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#234578</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11/10/2018</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">442 dolar</font></font></td>
                                                <td><span class="badge badge-soft-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reddedilmiş</font></font></span></td>
                                                <td class="text-right">
                                                   <button type="submit" class="btn btn-primary button-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ekle</font></font></button>
                                                   <button type="submit" class="btn btn-primary dbutton-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sil</font></font></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#951357</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">03/12/2018</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">625 dolar</font></font></td>
                                                <td><span class="badge badge-soft-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Onaylı</font></font></span></td>
                                                <td class="text-right">
                                                 <button type="submit" class="btn btn-primary button-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ekle</font></font></button>
                                                 <button type="submit" class="btn btn-primary dbutton-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sil</font></font></button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table><!--end /table-->
                                    </div><!--end /tableresponsive-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div>
        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İlaç ekle</font></font></h4>
                                    <p class="text-muted mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Listenize yeni bir ilaç ekleyin.</font></font></p> 
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <form>
                                        <div class="mb-3 row">
                                                <label for="example-url-input" class="col-sm-2 form-label align-self-center mb-lg-0 text-end"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İlaç adı</font></font></label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text"  id="example-url-input" placeholder="İlaç adı">
                                                </div>
                                            </div>
                                        <div class="mb-3 row">
                                                <label for="example-time-input" class="col-sm-2 form-label align-self-center mb-lg-0 text-end"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Zaman</font></font></label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                                                </div>
                                            </div>
                                         <div class="mb-3 row">
                                                <label for="example-url-input" class="col-sm-2 form-label align-self-center mb-lg-0 text-end"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dozu</font></font></label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="number"  id="example-url-input" placeholder="Dozu">
                                                </div>
                                            </div>
                                        <button type="submit" class="btn btn-primary button-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ekle</font></font></button>
                                    </form>                                           
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div>
    </div>
</div>