@section css{
    <style type="text/css">
    .button-style{
      background-color:#ED5E31 !important;
      border-color:#ED5E31 !important;
    }
    </style>
}

<body class="account-body accountbg">

        <!-- Recover-pw page -->
        <div class="container">
            <div class="row vh-100 d-flex justify-content-center">
                <div class="col-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 auth-header-box">
                                    <div class="text-center p-3">
                                        <a href="index.html" class="logo logo-admin">
                                            <img src="~/assets/images/demans_logo_sm.png" height="50" alt="logo" class="auth-logo">
                                        </a>
                                        <p class="text-muted  mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-postanızı girin, talimatlar size gönderilecek!</font></font></p>  
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal auth-form" action="index.html">                
                                        <div class="form-group mb-2">
                                            <label class="form-label" for="username"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-posta</font></font></label>
                                            <div class="input-group">                                                                                         
                                                <input type="email" class="form-control" id="email" placeholder="E-posta girin">
                                            </div>                                    
                                        </div><!--end form-group--> 
            
                                        <div class="form-group mb-0 row">
                                            <div class="col-12 mt-2">
                                                <button class="btn btn-primary w-100 waves-effect waves-light button-style" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sıfırla</font></font><i class="fas fa-sign-in-alt ms-1"></i></button>
                                            </div><!--end col--> 
                                        </div> <!--end form-group-->                           
                                    </form><!--end form-->
                                    <p class="text-muted mb-0 mt-3"><font style="vertical-align: inherit;"></font><a href="@Url.Action("Index", "Login")" class="text-primary ms-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Oturum açın</font></font></a></p>
                                </div>
                                <div class="card-body bg-light-alt text-center">
                                    <span class="text-muted d-none d-sm-inline-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© </font></font><script>
                                        document.write(new Date().getFullYear())
                                    </script><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2023</font></font></span>                                            
                                </div>
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
        <!-- End Recover-pw page -->

        


        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/feather.min.js"></script>
        <script src="assets/js/simplebar.min.js"></script><div id="goog-gt-" class="skiptranslate VIpgJd-yAWNEb-L7lbkb" dir="ltr"><div style="padding: 8px;"><div><div class="VIpgJd-yAWNEb-l4eHX"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Çeviri"></div></div></div><div style="padding: 8px; float: left; width: 100%;"><h1 class="VIpgJd-yAWNEb-r4nke VIpgJd-yAWNEb-mrxPge">Orijinal metin</h1></div><div style="padding: 8px;"><div class="VIpgJd-yAWNEb-nVMfcd-fmcmS"></div></div><div class="VIpgJd-yAWNEb-cGMI2b" style="padding: 8px;"><div class="VIpgJd-yAWNEb-Z0Arqf-PLDbbf"><span class="VIpgJd-yAWNEb-Z0Arqf-hSRGPd">Daha iyi bir çeviri ile katkıda bulunun</span></div><div class="VIpgJd-yAWNEb-fw42Ze-Z0Arqf-haAclf"><hr style="color: #ccc; background-color: #ccc; height: 1px; border: none;"><div class="VIpgJd-yAWNEb-Z0Arqf-H9tDt"></div></div></div><div class="VIpgJd-yAWNEb-jOfkMb-Ne3sFf" style="display: none;"></div></div>

        
    

</body>