<div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Işık Kutusu Galerisi</font></font></h4>
                                    <p class="text-muted mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Her galeri öğesine herhangi bir HTML içeriği koyabilirsiniz.</font></font></p>
                                </div><!--end card-header-->
                                <div class="card-body"> 
                                    <div class="popup-gallery d-flex">
                                        <a href="assets/images/small/img-2.jpg" title="Temizleyici">
                                            <img src="assets/images/small/img-2.jpg" alt="" class="img-fluid">
                                        </a>
                                        <a href="assets/images/small/img-3.jpg" title="Temizleyici">
                                            <img src="assets/images/small/img-3.jpg" alt="" class="img-fluid">
                                        </a>
                                        <a href="assets/images/small/img-4.jpg" title="Temizleyici">
                                            <img src="assets/images/small/img-4.jpg" alt="" class="img-fluid">
                                        </a>
                                      </div>
                                </div><!--end card-body-->
                            </div>