@{
    ViewData["Title"] = "Medicines Page";
}

@section css{
    <style type="text/css">
    .button-style{
      background-color:#ED5E31 !important;
      border-color:#ED5E31 !important;
    }

    .dbutton-style{
      background-color:white !important;
      border-color:#ED5E31 !important;
      color:#ED5E31 !important;
    }
    </style>
}

<div class="container">
    <div class="row p-5">
        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Edit Table With Button</h4>
                                    <p class="text-muted mb-0">Add toolbar column with edit and delete buttons.</p>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button>
                                    <div class="table-responsive">
                                        <table class="table  table-bordered table-sm" id="makeEditable">
                                            <thead>
                                                <tr>
                                                    <th>İlaç adı</th>
                                                    <th>Kullanılacak günler</th>
                                                    <th>Saat</th>
                                                    <th>Dozu</th>
                                                <th name="buttons"></th></tr>
                                            </thead>
                                            <tbody>
                                              @foreach(var Medicines in Model)
                                                    {
                                                    <tr>
                                                       @* <td>Ad</td>
                                                        <td>Gün</td>
                                                        <td>Saat</td>
                                                        <td>Doz</td>*@
                                                        <td name="buttons"><div class=" float-end"><button id="bEdit" type="button" class="btn btn-sm btn-soft-success btn-circle me-2" onclick="rowEdit(this);"><i class="dripicons-pencil"></i></button><button id="bElim" type="button" class="btn btn-sm btn-soft-danger btn-circle" onclick="rowElim(this);"><i class="dripicons-trash" aria-hidden="true"></i></button><button id="bAcep" type="button" class="btn btn-sm btn-soft-purple me-2 btn-circle" style="display:none;" onclick="rowAcep(this);"><i class="dripicons-checkmark"></i></button><button id="bCanc" type="button" class="btn btn-sm btn-soft-info btn-circle" style="display:none;" onclick="rowCancel(this);"><i class="dripicons-cross" aria-hidden="true"></i></button></div></td>
                                                    </tr>
                                                    }
                                            </tbody>
                                        </table>
                                    </div>
                                    <span class="float-right">
                                        <button id="but_add" class="btn btn-success btn-sm">Add New Row</button>
                                    </span><!--end table-->     
                                </div><!--end card-body-->
                            </div>>
                        </div>
        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İlaç ekle</font></font></h4>
                                    <p class="text-muted mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Listenize yeni bir ilaç ekleyin.</font></font></p> 
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <form>
                                        <div class="mb-3 row">
                                                <label for="medicine_name" class="col-sm-2 form-label align-self-center mb-lg-0 text-end"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İlaç adı</font></font></label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text"  id="medicine_name" placeholder="İlaç adı">
                                                </div>
                                            </div>
                                         <div class="mb-3 row">
                                                <label for="day" class="col-sm-2 form-label align-self-center mb-lg-0 text-end"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kullanılacak günler</font></font></label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text"  id="day" placeholder="Kullanılacak günler">
                                                </div>
                                            </div>
                                        <div class="mb-3 row">
                                                <label for="date_time" class="col-sm-2 form-label align-self-center mb-lg-0 text-end"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Zaman</font></font></label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="time" value="13:45:00" id="date_time">
                                                </div>
                                            </div>
                                         <div class="mb-3 row">
                                                <label for="dose" class="col-sm-2 form-label align-self-center mb-lg-0 text-end"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dozu</font></font></label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="number"  id="dose" placeholder="Dozu">
                                                </div>
                                            </div>
                                        <button type="submit" class="btn btn-primary button-style"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ekle</font></font></button>
                                    </form>                                           
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div>
    </div>
</div>