@{
    ViewData["Title"] = "Home Page";
}

@section css{
    <style type="text/css">
    .button-style{
      background-color:#ED5E31 !important;
      border-color:#ED5E31 !important;
    }
    </style>
}

<div class="container">
<div class="row">
                        <div class=" col-lg-6 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center p-3">
                                        <a href="index.html" class="logo logo-admin">
                                            <img src="~/assets/images/demans_logo_sm.png" height="50" alt="logo" class="auth-logo">
                                        </a>
                                        <p class="text-muted  mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Oturum açın.</font></font></p>  
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="tab-content">
                                        <div class="tab-pane active p-3" id="LogIn_Tab" role="tabpanel">                                        
                                            <form class="form-horizontal auth-form" action="index.html">
                
                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="username"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kullanıcı adı</font></font></label>
                                                    <div class="input-group">                                                                                         
                                                        <input type="text" class="form-control" name="username" id="username" placeholder="Kullanıcı adı girin">
                                                    </div>                                    
                                                </div><!--end form-group--> 
                    
                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="userpassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifre</font></font></label>                                            
                                                    <div class="input-group">                                  
                                                        <input type="password" class="form-control" name="password" id="userpassword" placeholder="Parolanı Gir">
                                                    </div>                               
                                                </div><!--end form-group--> 
                    
                                                <div class="form-group row my-3">
                                                    <div class="col-sm-6">
                                                        <div class="custom-control custom-switch switch-success">
                                                            <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">
                                                            <label class="form-label text-muted" for="customSwitchSuccess"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Beni Hatırla</font></font></label>
                                                        </div>
                                                    </div><!--end col--> 
                                                    <div class="col-sm-6 text-end">
                                                        <a href=@Url.Action("Index", "ForgotPassword") class="text-muted font-13"><i class="dripicons-lock"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Parolanızı mı unuttunuz?</font></font></a>                                    
                                                    </div><!--end col--> 
                                                </div><!--end form-group--> 
                    
                                                <div class="form-group mb-0 row">
                                                    <div class="col-12">
                                                        <button class="btn btn-primary w-100 waves-effect waves-light button-style" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giriş yap</font></font><i class="fas fa-sign-in-alt ms-1"></i></button>
                                                    </div><!--end col--> 
                                                </div> <!--end form-group-->                           
                                            </form><!--end form-->
                                            <div class="m-3 text-center text-muted">
                                                <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hesabınız yok mu?  </font></font><a  href=@Url.Action("Index", "Register") class="text-primary ms-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hesap oluşturun</font></font></a></p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div>
</div>
